version: '3'
services:
  database:
    image: mysql
    container_name: database
    restart: unless-stopped
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=1
      - MYSQL_DATABASE=achatdb
    ports:
      - 3306:3306
    volumes:
      - data:/var/lib/mysql
    networks:
      - mynet

  spring-boot:
    image: rouadali/spring
    container_name: back
    ports:
      - 8089:8089
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/achatdb?allowPublicKeyRetrieval=true&useSSL=false
    depends_on:
      - database
    networks:
      - mynet
    restart: on-failure
    
volumes:
  data:
  
networks:
  mynet:
    driver: bridge
